{% extends 'company/base.html' %}

{% load static %}

{% block content %}
<div class="container" style="margin-top: 8em">
  <h4 class="text-center mb-5"><strong>Tentang Kami</strong></h4>
  <div class="row">
    <div class="col-md-6 col-sm-12 mb-2">
      <img src="/static/company/image/outlet/plang-conwood.jpg"  class="img-fluid">
    </div>
  
    <div class="col-md-6 col-sm-12 mb-2">
      <h4><strong>It's About Moments</strong></h4>
      <p>
        Hidup ini penuh dengan momen indah (dan terkadang sedih). Momen-momen
        yang dilewati bersama teman, pasangan, keluarga, orang tua,
        atau bahkan sendirian. Saat pulang sekolah, pulang kuliah,
        ataupun pulang kerja. 
      </p>
      <p>
        Setiap waktu bersama orang terdekat harus dinikmati... karena
        akan menjadi cerita di masa yang akan datang. Cerita yang mengisi
        perjalanan hidup. Cerita indah. Cerita sedih. Cerita yang takkan
        terlupakan.
      </p>
      <p>
        Toastify memiliki makna merayakan sebuah momen. Toastify Sandwich
        hadir 'tuk temani cerita hidupmu bersama orang terdekat. Bercerita
        tentang hari kemarin, hari ini, dan hari esok.
      </p>
      <p>
        Sejak tahun 2021, di Jalan Nanas 20, Kota Bandung, Toastify Sandwich
        telah menyajikan sandwich freshly cooked dengan berbagai isian daging
        sapi, ayam, dan tuna kualitas terbaik. Dan menjadi komitmen kami untuk
        memastikan... di setiap gigitan Toastify Sandwich, yang ada hanya
        kebahagiaan.
      </p>
    </div>
  </div>

  <hr class="mb-5">

  <div class="row">
    <div class="col-md-6 col-sm-12 mb-2">
      <h4><strong>Visi & Misi</strong></h4>
      <p>
        Visi Toastify Sandwich adalah menjadi kafe yang nyaman untuk bercerita
        dengan menyajikan produk dan pelayanan terbaik.
      </p>
      <p>
        Misi Toastify Sandwich adalah terus berinovasi baik produk dan proses.
        Serta memastikan produk, layanan, dan fasilitas selalu berkualitas 
        mengikuti perubahan selera konsumen.
      </p>

      <h4><strong>Perjalanan</strong></h4>
      <table class="table table-bordered">
        <tbody>
          <tr class="tr-timeline">
            <td>2021</td>
            <td>
              Perjalanan Toastify Sandwich dimulai ketika pandemi Covid-19.
              Outlet pertama berada di Jalan Nanas 20, Bandung. Berjualan
              dengan konsep 'Grab & Go'.
            </td>
          </tr>
          <tr class="tr-timeline">
            <td>2022</td>
            <td>Pandemi melandai, konsep 'Dine in' diperkenalkan.</td>
          </tr>
          <tr class="tr-timeline">
            <td>2023</td>
            <td>Toastify Sandwich mengikut event PergiKuliner di Paskal 23.</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6 col-sm-12 mb-2">
      <img src="/static/company/image/outlet/outlet.jpg" class="img-fluid">
    </div>
  </div>
</div>
{% endblock %}