{% extends 'company/base.html' %}

{% load static %}

{% block content %}
<div class="container" style="margin-top: 8em">
  <h4 class="text-center mb-5"><strong>Menu</strong></h4>
  <div class="row">
    <div class="col-md-4 col-sm-12 mb-4">
      <img src="/static/company/image/menu/CCO7.jpg" class="img-fluid">
      <div class="mt-2">Chicken Cheese Original</div>
    </div>
    <div class="col-md-4 col-sm-12 mb-4">
      <img src="/static/company/image/menu/CMC6.jpg" class="img-fluid">
      <div class="mt-2">Chicken Mozarella Cheese</div>
    </div>
    <div class="col-md-4 col-sm-12 mb-4">
      <img src="/static/company/image/menu/CMT5.jpg" class="img-fluid">
      <div class="mt-2">Chicken Mentai</div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-sm-12 mb-4">
      <img src="/static/company/image/menu/CTR7.jpg" class="img-fluid">
      <div class="mt-2">Chicken Teriyaki</div>
    </div>
    <div class="col-md-4 col-sm-12 mb-4">
      <img src="/static/company/image/menu/BBQ5.jpg" class="img-fluid">
      <div class="mt-2">Beef BBQ</div>
    </div>
    <div class="col-md-4 col-sm-12 mb-4">
      <img src="/static/company/image/menu/BCO6.jpg" class="img-fluid">
      <div class="mt-2">Beef Cheese Original</div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-4 col-sm-12 mb-4">
      <img src="/static/company/image/menu/BMC6.jpg" class="img-fluid">
      <div class="mt-2">Beef Mozzarella Cheese</div>
    </div>
    <div class="col-md-4 col-sm-12 mb-4">
      <img src="/static/company/image/menu/BMT7.jpg" class="img-fluid">
      <div class="mt-2">Beef Mentai</div>
    </div>
    <div class="col-md-4 col-sm-12 mb-4">
      <img src="/static/company/image/menu/TKM9.jpg" class="img-fluid">
      <div class="mt-2">Tuna Curry Mayo</div>
    </div>
  </div>
</div>
{% endblock %}